<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>7</key>
			<integer>0</integer>
			<key>5</key>
			<real>-0.2</real>
			<key>3</key>
			<integer>0</integer>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>suspension</key>
		<dict>
			<key>SUU-62</key>
			<real>10.5</real>
			<key>SUU-63</key>
			<real>14.5</real>
		</dict>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>216</integer>
		<key>wip</key>
		<string>01</string>
		<key>stations</key>
		<dict>
			<key>3</key>
			<real>96.2</real>
			<key>5</key>
			<real>85.2</real>
			<key>7</key>
			<real>96.2</real>
		</dict>
		<key>imageString</key>
		<string>EMPTY-FUEL-TANK</string>
		<key>name</key>
		<string>Empty Fuel Tank</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>7</key>
			<real>-0.2</real>
			<key>5</key>
			<real>-2.4</real>
			<key>3</key>
			<real>-0.2</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>fuel</key>
		<integer>2211</integer>
		<key>suspension</key>
		<dict>
			<key>SUU-62</key>
			<real>10.5</real>
			<key>SUU-63</key>
			<real>14.5</real>
		</dict>
		<key>weight</key>
		<integer>2450</integer>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>wip</key>
		<string>01</string>
		<key>stations</key>
		<dict>
			<key>3</key>
			<real>1091.2</real>
			<key>5</key>
			<integer>966</integer>
			<key>7</key>
			<real>1091.2</real>
		</dict>
		<key>imageString</key>
		<string>FULL-FUEL-TANK</string>
		<key>name</key>
		<string>Full Fuel Tank</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>9</key>
			<real>0.2</real>
			<key>8</key>
			<real>0.1</real>
			<key>2</key>
			<real>0.1</real>
			<key>1</key>
			<real>0.2</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>192</integer>
		<key>suspension</key>
		<dict>
			<key>LAU-7</key>
			<real>8</real>
		</dict>
		<key>wip</key>
		<string>80</string>
		<key>stations</key>
		<dict>
			<key>1</key>
			<real>87.47</real>
			<key>2</key>
			<real>87.47</real>
			<key>8</key>
			<real>87.47</real>
			<key>9</key>
			<real>95.34999999999999</real>
		</dict>
		<key>imageString</key>
		<string>AIM-9</string>
		<key>name</key>
		<string>AIM-9M</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>9</key>
			<real>0.2</real>
			<key>8</key>
			<real>0.1</real>
			<key>2</key>
			<real>0.1</real>
			<key>1</key>
			<real>0.2</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>192</integer>
		<key>wip</key>
		<string>80</string>
		<key>stations</key>
		<dict>
			<key>1</key>
			<real>95.41</real>
			<key>2</key>
			<real>87.53</real>
			<key>8</key>
			<real>87.53</real>
			<key>9</key>
			<real>95.41</real>
		</dict>
		<key>suspension</key>
		<dict>
			<key>LAU-7</key>
			<real>8</real>
		</dict>
		<key>imageString</key>
		<string>AIM-9-CATM</string>
		<key>name</key>
		<string>CATM-9M</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>9</key>
			<real>0.2</real>
			<key>8</key>
			<real>0.1</real>
			<key>2</key>
			<real>0.1</real>
			<key>1</key>
			<real>0.2</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>195</integer>
		<key>wip</key>
		<string></string>
		<key>stations</key>
		<dict>
			<key>1</key>
			<real>96.55</real>
			<key>2</key>
			<real>88.53</real>
			<key>8</key>
			<real>88.53</real>
			<key>9</key>
			<real>96.55</real>
		</dict>
		<key>suspension</key>
		<dict>
			<key>LAU-7</key>
			<real>8</real>
		</dict>
		<key>imageString</key>
		<string>ACMI</string>
		<key>name</key>
		<string>ACMI</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>3</key>
			<real>0.2</real>
			<key>4</key>
			<real>0.3</real>
			<key>2</key>
			<real>0.2</real>
			<key>6</key>
			<real>0.3</real>
			<key>7</key>
			<real>0.2</real>
			<key>8</key>
			<real>0.2</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>356</integer>
		<key>suspension</key>
		<dict>
			<key>LAU-116</key>
			<integer>4</integer>
			<key>LAU-127</key>
			<integer>5</integer>
		</dict>
		<key>wip</key>
		<string>F0</string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>160.5</real>
			<key>3</key>
			<real>158.4</real>
			<key>4</key>
			<real>179.4</real>
			<key>6</key>
			<real>179.4</real>
			<key>7</key>
			<real>158.4</real>
			<key>8</key>
			<real>160.5</real>
		</dict>
		<key>imageString</key>
		<string>AIM-120</string>
		<key>name</key>
		<string>AIM-120</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>3</key>
			<real>0.2</real>
			<key>4</key>
			<real>0.3</real>
			<key>2</key>
			<real>0.2</real>
			<key>6</key>
			<real>0.3</real>
			<key>7</key>
			<real>0.2</real>
			<key>8</key>
			<real>0.2</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>348</integer>
		<key>wip</key>
		<string>F0</string>
		<key>suspension</key>
		<dict>
			<key>LAU-116</key>
			<integer>4</integer>
			<key>LAU-127</key>
			<integer>5</integer>
		</dict>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>156.9</real>
			<key>3</key>
			<real>154.9</real>
			<key>4</key>
			<real>175.4</real>
			<key>6</key>
			<real>175.4</real>
			<key>7</key>
			<real>154.9</real>
			<key>8</key>
			<real>156.9</real>
		</dict>
		<key>imageString</key>
		<string>AIM-120-CATM</string>
		<key>name</key>
		<string>CATM-120</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>2</key>
			<real>-0.1</real>
			<key>8</key>
			<real>-0.1</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<real>2110</real>
		<key>suspension</key>
		<dict>
			<key>SUU-63</key>
			<integer>15</integer>
		</dict>
		<key>wip</key>
		<string>15</string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>951.8</real>
			<key>8</key>
			<real>951.8</real>
		</dict>
		<key>imageString</key>
		<string>GBU-10</string>
		<key>name</key>
		<string>GBU-10</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>3</key>
			<real>-0.05</real>
			<key>2</key>
			<real>-0.03</real>
			<key>7</key>
			<real>-0.05</real>
			<key>8</key>
			<real>-0.03</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>suspension</key>
		<dict>
			<key>SUU-63</key>
			<real>6.5</real>
			<key>BRU-55</key>
			<real>5.5</real>
		</dict>
		<key>weight</key>
		<integer>629</integer>
		<key>wip</key>
		<string>33</string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>283.4</real>
			<key>3</key>
			<real>279.8</real>
			<key>7</key>
			<real>279.8</real>
			<key>8</key>
			<real>283.4</real>
		</dict>
		<key>imageString</key>
		<string>GBU-12</string>
		<key>name</key>
		<string>GBU-12</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>3</key>
			<real>-0.1</real>
			<key>2</key>
			<real>-0.05</real>
			<key>7</key>
			<real>-0.1</real>
			<key>8</key>
			<real>-0.05</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<real>1114</real>
		<key>suspension</key>
		<dict>
			<key>SUU-63</key>
			<real>9.5</real>
		</dict>
		<key>wip</key>
		<string>23</string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>500.7</real>
			<key>3</key>
			<real>494.2</real>
			<key>7</key>
			<real>494.2</real>
			<key>8</key>
			<real>500.7</real>
		</dict>
		<key>imageString</key>
		<string>GBU-16</string>
		<key>name</key>
		<string>GBU-16</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>2</key>
			<real>-0.1</real>
			<key>8</key>
			<real>-0.1</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>2397</integer>
		<key>suspension</key>
		<dict>
			<key>SUU-63</key>
			<integer>16</integer>
		</dict>
		<key>wip</key>
		<string>55-58</string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>1080.8</real>
			<key>8</key>
			<real>1080.8</real>
		</dict>
		<key>imageString</key>
		<string>GBU-24</string>
		<key>name</key>
		<string>GBU-24</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>2</key>
			<real>-0.1</real>
			<key>8</key>
			<real>-0.1</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<real>2030</real>
		<key>suspension</key>
		<dict>
			<key>SUU-63</key>
			<real>7.5</real>
		</dict>
		<key>wip</key>
		<string>F0</string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>919.6</real>
			<key>8</key>
			<real>919.6</real>
		</dict>
		<key>imageString</key>
		<string>GBU-31</string>
		<key>name</key>
		<string>GBU-31</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>3</key>
			<real>-0.05</real>
			<key>2</key>
			<real>-0.02</real>
			<key>7</key>
			<real>-0.05</real>
			<key>8</key>
			<real>-0.02</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<real>561.7</real>
		<key>suspension</key>
		<dict>
			<key>SUU-63</key>
			<integer>3</integer>
			<key>BRU-55</key>
			<integer>4</integer>
		</dict>
		<key>wip</key>
		<string>F0</string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>255.3</real>
			<key>3</key>
			<real>252</real>
			<key>7</key>
			<real>252</real>
			<key>8</key>
			<real>255.3</real>
		</dict>
		<key>imageString</key>
		<string>GBU-38</string>
		<key>name</key>
		<string>GBU-38</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>3</key>
			<real>-0.05</real>
			<key>2</key>
			<real>-0.03</real>
			<key>7</key>
			<real>-0.05</real>
			<key>8</key>
			<real>-0.03</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<real>631.8</real>
		<key>suspension</key>
		<dict>
			<key>SUU-63</key>
			<real>5.5</real>
			<key>BRU-55</key>
			<real>6.5</real>
		</dict>
		<key>wip</key>
		<string>F0</string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>284.1</real>
			<key>3</key>
			<real>280.4</real>
			<key>7</key>
			<real>280.4</real>
			<key>8</key>
			<real>284.1</real>
		</dict>
		<key>imageString</key>
		<string>GBU-49</string>
		<key>name</key>
		<string>GBU-49</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>4</key>
			<real>0.1</real>
			<key>5</key>
			<real>-1.23</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>455</integer>
		<key>suspension</key>
		<dict>
			<key>DIRECT</key>
			<integer>11</integer>
		</dict>
		<key>wip</key>
		<string></string>
		<key>stations</key>
		<dict>
			<key>5</key>
			<integer>480</integer>
			<key>4</key>
			<real>212.895</real>
		</dict>
		<key>imageString</key>
		<string>SNIPER</string>
		<key>name</key>
		<string>Sniper</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>5</key>
			<real>-0.2</real>
			<key>3</key>
			<real>0.1</real>
			<key>2</key>
			<real>0.1</real>
			<key>7</key>
			<real>0.1</real>
			<key>8</key>
			<real>0.1</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>94</integer>
		<key>suspension</key>
		<dict>
			<key>SUU-62</key>
			<integer>0</integer>
			<key>SUU-63</key>
			<integer>0</integer>
		</dict>
		<key>wip</key>
		<string>0</string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<integer>0</integer>
			<key>3</key>
			<integer>0</integer>
			<key>5</key>
			<integer>0</integer>
			<key>7</key>
			<integer>0</integer>
			<key>8</key>
			<integer>0</integer>
		</dict>
		<key>imageString</key>
		<string>PYLON</string>
		<key>name</key>
		<string>Pylon</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>3</key>
			<real>-0.15</real>
			<key>2</key>
			<real>-0.1</real>
			<key>7</key>
			<real>-0.15</real>
			<key>8</key>
			<real>-0.1</real>
		</dict>
		<key>isSuspension</key>
		<true/>
		<key>maxChildStores</key>
		<integer>1</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>70</integer>
		<key>suspension</key>
		<dict>
			<key>SUU-63</key>
			<integer>4</integer>
		</dict>
		<key>wip</key>
		<string></string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<integer>32</integer>
			<key>3</key>
			<real>31.6</real>
			<key>7</key>
			<real>31.6</real>
			<key>8</key>
			<integer>32</integer>
		</dict>
		<key>imageString</key>
		<string>LAU-127</string>
		<key>name</key>
		<string>BRU-5002</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>3</key>
			<integer>0</integer>
			<key>2</key>
			<integer>0</integer>
			<key>7</key>
			<integer>0</integer>
			<key>8</key>
			<integer>0</integer>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>89</integer>
		<key>suspension</key>
		<dict>
			<key>BRU-5002</key>
			<integer>2</integer>
		</dict>
		<key>wip</key>
		<string></string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>40.7</real>
			<key>3</key>
			<real>40.1</real>
			<key>7</key>
			<real>40.1</real>
			<key>8</key>
			<real>40.7</real>
		</dict>
		<key>imageString</key>
		<string>LGTR</string>
		<key>name</key>
		<string>LGTR</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>5</key>
			<real>-0.3</real>
			<key>3</key>
			<integer>0</integer>
			<key>2</key>
			<integer>0</integer>
			<key>7</key>
			<integer>0</integer>
			<key>8</key>
			<integer>0</integer>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>417</integer>
		<key>suspension</key>
		<dict>
			<key>SUU-63</key>
			<integer>250</integer>
		</dict>
		<key>wip</key>
		<string>99</string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>188.693</real>
			<key>3</key>
			<real>186.232</real>
			<key>5</key>
			<real>165.174</real>
			<key>7</key>
			<real>186.232</real>
			<key>8</key>
			<real>188.693</real>
		</dict>
		<key>imageString</key>
		<string>LUGGAGE-POD</string>
		<key>name</key>
		<string>Luggage Pod</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>4</key>
			<integer>0</integer>
			<key>2</key>
			<real>0.1</real>
			<key>6</key>
			<integer>0</integer>
			<key>8</key>
			<real>0.1</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>510</integer>
		<key>wip</key>
		<string>84</string>
		<key>suspension</key>
		<dict>
			<key>LAU-115</key>
			<integer>6</integer>
			<key>LAU-116</key>
			<integer>4</integer>
		</dict>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>232.5</real>
			<key>4</key>
			<real>257.9</real>
			<key>6</key>
			<real>257.9</real>
			<key>8</key>
			<real>232.5</real>
		</dict>
		<key>imageString</key>
		<string>AIM-7</string>
		<key>name</key>
		<string>AIM-7</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>3</key>
			<real>0.1</real>
			<key>2</key>
			<real>0.1</real>
			<key>7</key>
			<real>0.1</real>
			<key>8</key>
			<real>0.1</real>
		</dict>
		<key>isSuspension</key>
		<true/>
		<key>maxChildStores</key>
		<integer>1</integer>
		<key>suspension</key>
		<dict>
			<key>DIRECT</key>
			<real>7.5</real>
		</dict>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>270</integer>
		<key>wip</key>
		<string></string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>128.1</real>
			<key>3</key>
			<real>126.5</real>
			<key>7</key>
			<real>126.5</real>
			<key>8</key>
			<real>128.1</real>
		</dict>
		<key>imageString</key>
		<string>SUU-63</string>
		<key>name</key>
		<string>SUU-63</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>5</key>
			<real>-0.2</real>
		</dict>
		<key>isSuspension</key>
		<true/>
		<key>maxChildStores</key>
		<integer>1</integer>
		<key>suspension</key>
		<dict>
			<key>DIRECT</key>
			<integer>3</integer>
		</dict>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>130</integer>
		<key>wip</key>
		<string></string>
		<key>stations</key>
		<dict>
			<key>5</key>
			<real>51.7</real>
		</dict>
		<key>imageString</key>
		<string>SUU-62</string>
		<key>name</key>
		<string>SUU-62</string>
	</dict>
	<dict>
		<key>childStorePoints</key>
		<array>
			<dict>
				<key>widthDivisor</key>
				<real>1.1</real>
				<key>heightDivisor</key>
				<real>1.5</real>
			</dict>
			<dict>
				<key>widthDivisor</key>
				<integer>7</integer>
				<key>heightDivisor</key>
				<real>1.5</real>
			</dict>
		</array>
		<key>macByStation</key>
		<dict>
			<key>3</key>
			<real>-0.15</real>
			<key>2</key>
			<real>-0.1</real>
			<key>7</key>
			<real>-0.15</real>
			<key>8</key>
			<real>-0.1</real>
		</dict>
		<key>isSuspension</key>
		<true/>
		<key>maxChildStores</key>
		<integer>2</integer>
		<key>suspension</key>
		<dict>
			<key>SUU-63</key>
			<integer>12</integer>
		</dict>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<real>226.4</real>
		<key>wip</key>
		<string></string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>102.5</real>
			<key>3</key>
			<real>101.2</real>
			<key>7</key>
			<real>101.2</real>
			<key>8</key>
			<real>102.5</real>
		</dict>
		<key>imageString</key>
		<string>BRU-55</string>
		<key>name</key>
		<string>BRU-55</string>
	</dict>
	<dict>
		<key>childStorePoints</key>
		<array>
			<dict>
				<key>widthDivisor</key>
				<integer>-2</integer>
				<key>heightDivisor</key>
				<real>-1.5</real>
			</dict>
			<dict>
				<key>widthDivisor</key>
				<real>0.8</real>
				<key>heightDivisor</key>
				<real>-1.5</real>
			</dict>
		</array>
		<key>macByStation</key>
		<dict>
			<key>3</key>
			<integer>0</integer>
			<key>2</key>
			<integer>0</integer>
			<key>7</key>
			<integer>0</integer>
			<key>8</key>
			<integer>0</integer>
		</dict>
		<key>isSuspension</key>
		<true/>
		<key>maxChildStores</key>
		<integer>2</integer>
		<key>suspension</key>
		<dict>
			<key>SUU-63</key>
			<integer>4</integer>
		</dict>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>133</integer>
		<key>wip</key>
		<string></string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>52.7</real>
			<key>3</key>
			<integer>51</integer>
			<key>7</key>
			<integer>51</integer>
			<key>8</key>
			<real>52.7</real>
		</dict>
		<key>imageString</key>
		<string>LAU-115</string>
		<key>name</key>
		<string>LAU-115</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>4</key>
			<integer>0</integer>
			<key>6</key>
			<integer>0</integer>
		</dict>
		<key>isSuspension</key>
		<true/>
		<key>maxChildStores</key>
		<integer>1</integer>
		<key>suspension</key>
		<dict>
			<key>DIRECT</key>
			<integer>0</integer>
		</dict>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>65</integer>
		<key>wip</key>
		<string></string>
		<key>stations</key>
		<dict>
			<key>4</key>
			<real>32.507</real>
			<key>6</key>
			<real>32.507</real>
		</dict>
		<key>imageString</key>
		<string>LAU-116</string>
		<key>name</key>
		<string>LAU-116</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>7</key>
			<integer>0</integer>
			<key>3</key>
			<integer>0</integer>
			<key>2</key>
			<integer>0</integer>
			<key>8</key>
			<integer>0</integer>
		</dict>
		<key>isSuspension</key>
		<true/>
		<key>maxChildStores</key>
		<integer>1</integer>
		<key>suspension</key>
		<dict>
			<key>LAU-115</key>
			<real>2.4</real>
		</dict>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<real>117.5</real>
		<key>wip</key>
		<string></string>
		<key>stations</key>
		<dict>
			<key>7</key>
			<real>108.7</real>
			<key>3</key>
			<real>108.7</real>
			<key>2</key>
			<real>108.7</real>
			<key>8</key>
			<real>108.7</real>
		</dict>
		<key>imageString</key>
		<string>LAU-127</string>
		<key>name</key>
		<string>LAU-127</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>2</key>
			<integer>0</integer>
			<key>8</key>
			<integer>0</integer>
		</dict>
		<key>isSuspension</key>
		<true/>
		<key>maxChildStores</key>
		<integer>1</integer>
		<key>suspension</key>
		<dict>
			<key>LAU-115</key>
			<integer>2</integer>
		</dict>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<real>91.90000000000001</real>
		<key>wip</key>
		<string></string>
		<key>stations</key>
		<dict>
			<key>2</key>
			<real>135.11</real>
			<key>8</key>
			<real>135.11</real>
		</dict>
		<key>imageString</key>
		<string>LAU-7</string>
		<key>name</key>
		<string>LAU-7</string>
	</dict>
	<dict>
		<key>macByStation</key>
		<dict>
			<key>5</key>
			<real>-0.3</real>
		</dict>
		<key>isSuspension</key>
		<false/>
		<key>maxChildStores</key>
		<integer>0</integer>
		<key>suspension</key>
		<dict>
			<key>SUU-62</key>
			<integer>2000</integer>
		</dict>
		<key>fuel</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>335</integer>
		<key>wip</key>
		<string>28</string>
		<key>stations</key>
		<dict>
			<key>5</key>
			<real>132.1</real>
		</dict>
		<key>imageString</key>
		<string>SKAD</string>
		<key>name</key>
		<string>SKAD</string>
	</dict>
</array>
</plist>
